@page
@model cw6.Pages.MoviesModel

@{
    Layout = null;
}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ćwiczenie 6</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
<h1>Lista filmów</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Reżyser</th>
        <th>Rok Produkcji</th>
        <th>Gatunek</th>
        <th>Cena</th>
    </tr>
    @{ int lp = 0;}
    @foreach (var movie in Model.Movies) {
        lp++;
        <tr>
            <td>@lp</td>
            <td>@movie.Title</td>
            <td>@movie.Director</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Genre</td>
            <td>@movie.Price $</td>
        </tr>
    }
</table>
<a asp-page="Games">Gry</a>
<a asp-page="AddMovie">Dodaj Film</a>
</body>
</html>