@using inf03styczen202101.Models
@model List<Player>
@{
    ViewBag.Title = "Rozgrywki futbolowe";
    Layout = "_Layout";
    List<Match> matches = ViewBag.Matches;
}
<section id="matches">
    @foreach (Match match in matches) {
        <div class="card">
            <h3>@match.Team1 - @match.Team2</h3>
            <h4>@match.Result</h4>
            <p>w dniu: @match.Date</p>
        </div>
    }
</section>
<main>
    <h2>Reprezantacja Polski</h2>
    <div id="middle">
        <div id="left">
            <a asp-action="Index">Wyszukaj na podstawie pozycji</a>
            <ul>
                @foreach (Player player in Model) {
                    <li>@player.FirstName @player.LastName - @player.Position</li>
                }
            </ul>
        </div>
        <div id="right">
            <img src="~/zad1.png" alt="piłkarz">
            <p>Autor:000000000000</p>
        </div>
    </div>
</main>